@font-face {
  font-family: 'JetBrains Mono';
  src: url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff2/JetBrainsMono-Bold-Italic.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/JetBrains/JetBrainsMono/web/woff/JetBrainsMono-Bold-Italic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* General */ 
/**//**//**//**//**//**//**//**//**//**//**//**/

body {
  display: flex;
  flex-direction: row;
  column-gap: 6px;

  background-color: rgb(104, 144, 184);

  padding: 0;
  margin: 0;
}

p {
  margin: 0;
  padding: 0;
}


/* nav bar section in css */ 
/**//**//**//**//**//**//**//**//**//**//**//**/

.nav-bar{
  width: 15%;
  height: 100%;

  background-color: rgb(125, 167, 209);
  border-right: solid 0.6px rgba(220, 220, 220, 0.7);

  display: flex;
  flex-direction: column;

  padding: 0px 6px;
}


/* title box for nav bar section */

.title-nav-bar-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  padding-top: 6px;

  margin-bottom: 10px;
}

.left-title-nav-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 12px;
  margin-left: 4px;
}

.right-title-nav-section{
  margin-right: 4px;
}

.img-coreTech {
  width: 35px;
  height: 35px;
}

.logo-internet{
  width: 20px;
  height: 20px;
}

.name-company{
  font-family: 'JetBrains Mono';
  font-size: 1em;
  color: white;
}



/* dashboard box section */
/**//**//**//**//**//**//**//**//**//**//**//**/

.dashboard-title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.dashboard-title {
  color: white;
  font-family: 'Arial';
  font-size: 0.58em;
  opacity: 0.9;
}

.dashboard-img {
  width:22px;
  height: 22px;
  opacity: 0.9;
}

.line{
  height: 100%;
  border-bottom: 0.5px solid white;

  margin: 2px 4px;
}

.dashboard-list-container {
  display: flex;
  flex-direction: column;
  row-gap: 3px;

  margin-top: 4px;
}

.cyan-section, .blue-section{
  padding-left: 8px;
  padding-top: 3px;
  padding-bottom: 3px;

  cursor: pointer;

  border-radius: 4px;
}

.cyan-section {
  background-color: rgb(107, 159, 212);
}

.blue-section {
  background-color: rgb(146, 181, 215);
}

.dash-section-text {
  color: white;
  font-size: 0.7em;
  font-family: Arial, Helvetica, sans-serif;
}










.dashboard-information{
  width: 85%;

  background-color: rgb(125, 167, 209);
  border-left: solid 0.6px rgba(220, 220, 220, 0.7);

  display: flex;
  flex-direction: column;

  padding: 10px 10px;
}

.header{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  width: 100%;
}

.section-left-header{
  display: flex;
  flex-direction: row;
  align-items: center;

  column-gap: 10px;
}

.message-icons {
  width: 21px;
}

.mail-icons {
  width:21px;
  margin-bottom: 3px;
}

.calendar-icons {
  width: 19px;
  margin-bottom: 2px;
}

.section-right-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flag-french-svg {
  width: 26px;
  margin: 0px 10px;
}

.french-text {
  color: white;
  font-family: 'JetBrains Mono';
  font-size: 0.8em;
}

.notification-icon {
  width: 24px;
  margin: 0px 10px;
}

.header-section-sub-right {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.header-section-sub-left{
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-right: 68px;
}

.notification-container{
  display: flex;
  align-items: center;
  vertical-align: middle;

  position: relative;
}

.red-box{
  position: absolute;
  z-index: 999;
  top:3px;
  right: 14px;

  background-color: red;
  border-radius: 100px;

  color: white;
  font-family: 'Arial';
  font-size: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  width: 10px;
  height: 10px;

}

.name-profile-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  margin-left: 12px;

  column-gap: 12px;
}

.name-section {
  display: flex;
  flex-direction: column;
  justify-content: right;
  align-items:end;
}

.main-name-text {
  color: white;
  font-family: 'Arial';
  font-size: 15px;
}

.second-text {
  color: rgb(228, 228, 228);
  font-size: 10px;
  font-family: 'Arial';
  display: inline-block;
}

.profile-img{
  width:30px;
  border-radius: 100px;
  object-fit: contain;
  object-position: center;
  margin-bottom: -2px;
}

@media (max-width: 1000px) and (min-width: 800px) {
    .logo-internet {
        display: none;
    }
}

@media (max-width: 800px) {
    .name-company, .logo-internet {
        display: none;
    }

    .title-nav-bar-section {
      justify-content: center;
    }

    .left-title-nav-section{
      margin-left: 2px;
    }

    .right-title-nav-section{
      margin-right: 1.2px;
    }

    .dashboard-title {
      font-size: 0.44em;
    }
}